body {
	min-width: 350px;
}

/**
*
* Navbar Styles
*
**/

h1 {
	 margin: 2.9rem 0 1.83rem 0;
}
a.btn.btn-flat.hide-on-med-and-up:hover {
    box-shadow: none !important;
    background: 0;
}

a.btn.btn-flat.hide-on-med-and-up {
    position:absolute;
}


h1>span {
    font-size:32px;
}

@media (min-width:991px) {
	.brand-logo {
		margin-left: 10px;
	}
}

@media only screen and (min-width: 811px) {
	a.hide-on-med-and-up {
	    display: none !important;
	}
}

@media only screen and (min-width: 610px) and (max-width: 811px) {
	a.hide-on-med-and-up {
	    display: block !important;
	}
}

@media  (max-width: 811px) {
	.hide-on-small-only, .hide-on-small-and-down {
	    display: none !important;
	}
}


.container {
	width:80%;
}

.text-med {
	font-size: 18px;
}

.code-title {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.x2 {
	font-size: 2rem;
}

.social-icon {
	color:white;
}

.social-icon:hover, a:hover {
	color:#FF5722;
}

.url .hljs-comment {
	color:white;
}

.title {
	margin-top: 30px;
	margin-bottom: 30px;
}
